body{
	background: #efebde;	
}
.sectionTurn{
	position: relative;
}
.sectionTurn img{
	position: absolute;
	z-index: 2;
}
.p1{
	background:url(../images/1.jpg) center top no-repeat #efebde;
	background-size:100% 
}
.p1-1{
	opacity: 0;
	left: 50%;
	margin-left: -170px;
	top: 50%;
	margin-top: 100px;	
}
.active .p1-1{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}
.p1-2{
	opacity: 0;
	left: 50%;
	margin-left: -93px;
	top: 50%;
	margin-top: -100px;
}
.active .p1-2{
	animation:fadeToTop1 1s;
	animation-fill-mode:forwards;
}
.p1-3{
	opacity: 0;
	left: 50%;
	margin-left: -93px;
	top: 50%;
	margin-top: -30px;
}
.active .p1-3{
	animation:fadeToTop2 1s;
	animation-fill-mode:forwards;
}
.p1-4{
	opacity: 0;
	left: 50%;
	margin-left: -393px;
	top: 50%;
	margin-top: -230px;
}
.active .p1-4{
	animation:fadeToLeft 1s;
	animation-fill-mode:forwards;
}
.p1-5{
	opacity: 0;
	left: 50%;
	margin-left: 193px;
	top: 50%;
	margin-top: 130px;
}
.active .p1-5{
	animation:fadeToRight 1s;
	animation-fill-mode:forwards;
}

.p2{
	background:url(../images/2.jpg) center top no-repeat #efebde;
	background-size:100% 
}
.p2 img{
	width: 60%;
}
.p2-1{
	opacity: 0;
	left: 50%;
	margin-left: 100px;
	top: 50%;
	margin-top: -320px;
}
.active .p2-1{
	animation:fadeToRight1 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToRight1{
	from{opacity: 0; margin-left: 100px;}
	to{opacity: 1; margin-left:-50px; }
}
.p2-2{
	opacity: 0;
	left: 50%;
	margin-left: -280px;
	top: 50%;
	margin-top: -560px;
}
.active .p2-2{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}

.p2-3{
	opacity: 0;
	left: 50%;
	margin-left: -700px;
	top: 50%;
	margin-top: -170px;
}
.active .p2-3{
	animation:fadeToLeft1 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToLeft1{
	from{opacity: 0; margin-left: -700px;}
	to{opacity: 1; margin-left:-500px; }
}

.p2-4{
	opacity: 0;
	left: 50%;
	margin-left: -644px;
	top: 50%;
	margin-top: 200px;
}
.active .p2-4{
	animation:fadeToLeft2 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToLeft2{
	from{opacity: 0; margin-left: -644px;}
	to{opacity: 1; margin-left:-500px; }
}

.p2-5{
	opacity: 0;
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: 0px;
}
.active .p2-5{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}

.p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11{
	background:url(../images/3.jpg) center top no-repeat #efebde;
	background-size:100% 
}


.p3-1, .p4-1, .p5-1, .p6-1, .p7-1, .p8-1, .p9-1, .p10-1, .p11-1 {
	left: 50%;
	margin-left: -375px;
	bottom: 35%;
}
.p3-2, .p4-2, .p5-2, .p6-2, .p7-2, .p8-2, .p9-2, .p10-2, .p11-2{
	left: 50%;
	margin-left: -375px;
	bottom: 35%;
	opacity: 0;
}
.active .p3-2, .active .p4-2, .active .p5-2, .active .p6-2, .active .p7-2, .active .p8-2, .active .p9-2, .active .p10-2, .active .p11-2{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}



.p12{
	background:url(../images/12.jpg) center top no-repeat #efebde;
	background-size:100% 
}
.p12 img{
	width: 40%;
}
.p12 .p12-1{
	width: 60%;
	left:-40px;
	top: 50%;
	margin-top: -200px; 
	opacity: 0;
}
.active .p12-1{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}
.p12-2{
	left:-200px;
	top: 50%;
	margin-top: 150px; 
	opacity: 0;
}
.active .p12-2{
	animation:fadeToLeft3 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToLeft3{
	from{left: -200px;opacity: 0;}
	to{left: 10px;opacity: 1;}
}
.p12-3{
	left:50%;
	margin-left: 300px;
	top: 50%;
	margin-top: -30px; 
	opacity: 0;
}
.active .p12-3{
	animation:fadeToRight2 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToRight2{
	from{margin-left: 300px;opacity: 0;}
	to{margin-left: -60px;opacity: 1;}
}
.p12-4{
	left:50%;
	margin-left: 300px;
	top: 50%;
	margin-top: -360px; 
	opacity: 0;
}
.active .p12-4{
	animation:fadeToRight3 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToRight3{
	from{margin-left: 300px;opacity: 0;}
	to{margin-left: 140px;opacity: 1;}
}

.p13{
	background:url(../images/13.jpg) center top no-repeat #efebde;
	background-size:100% 
}
.p13-1{
	left:50%;
	margin-left: -375px;
	top: 50%;
	margin-top: -280px; 
	opacity: 0;
}
.active .p13-1{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}
.p13-2{
	left:50%;
	margin-left: -375px;
	top: 50%;
	margin-top: 0px; 
	opacity: 0;
}
.active .p13-2{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
	animation-delay:0.8s;
}


/*动画交互效果*/
@keyframes fadeIn{
	from{ opacity: 0; }
	to{	opacity: 1;	}
}

@keyframes fadeOut{
	from{ opacity: 1; }
	to{	opacity: 0;	}
}
@keyframes fadeToTop1{
	from{opacity: 0; margin-top: -100px;}
	to{opacity: 1; margin-top: -240px;}
}
@keyframes fadeToTop2{
	from{opacity: 0; margin-top: -30px;}
	to{opacity: 1; margin-top: -150px;}
}
@keyframes fadeToLeft{
	from{opacity: 0; margin-left: -393px;margin-top: -230px;}
	to{opacity: 1; margin-left: -280px;margin-top: -200px;}
}

@keyframes fadeToRight{
	from{ opacity: 0; margin-left: 193px;margin-top:130px; }
	to{	opacity:1 ;margin-left: 10px;margin-top: -200px;}
}

@keyframes toLeft{
	from{ right: ;}
	to{	right: ;}
}

@keyframes toTop{
	from{ top: ;}
	to{	top: ;}
}

@keyframes toBottom{
	from{ top: ;}
	to{	top: ;}
}

