body{
	background: #efebde;	
}

.loadinner{
	position:absolute;
	width:100%;height:100%;
	left:0;
	top: 0;
	text-align:center;
	font-size:14px;
	line-height:20px;
	padding-top: 200px;
}
.graph{
	background:#6c6c6c;
	height: 3px;
	width:70%;
	margin:10px auto 0 auto;
	border-radius: 1px;
	overflow: hidden;
}
#bar{
	display:block;
	background:green;
	height:3px;
	width:10px;
	border-radius: 1px;
	overflow: hidden;
}


#yin{
	position: fixed;
	z-index: 900;
	right:5%;
	top:1%;
	width:20px;
	height:20px;
	overflow: hidden;
	-webkit-animation:zhuan1 infinite;
	
	-webkit-animation-duration:2s;
}
#yin img{
	height: 20px;
}
/*.music{
	position: absolute;z-index: 998; 
	top: 1%;right: 11%;
	width:16%;height: 20px;margin-top: 3px;
	background: url(../images/music.png) no-repeat center top;
	background-size:100% auto;
}
*/
@-webkit-keyframes zhuan1
{
to{
	/*-webkit-transform: rotate(360deg);*/
}

}


.sectionTurn{
	position: relative;
}
.sectionTurn img{
	position: absolute;
	z-index: 2;
}
.p1{
	background:url(../images/1.jpg) center center no-repeat #efebde;
	background-size:100% 
}
.p1-1{
	opacity: 0;
	left: 50%;
	margin-left: -85px;
	top: 50%;
	margin-top: 70px;	
}
.active .p1-1{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
	animation-delay:1.5s;
}
.p1-2{
	opacity: 0;
	left: 50%;
	margin-left: -94px;
	top: 50%;
	margin-top: -20px;
}
.active .p1-2{
	animation:fadeToTop1 1s;
	animation-fill-mode:forwards;
	animation-delay:0.8s;
}
@keyframes fadeToTop1{
	from{opacity: 0; margin-top: -20px;}
	to{opacity: 1; margin-top: -150px;}
}

.p1-3{
	opacity: 0;
	left: 50%;
	margin-left: -45px;
	top: 50%;
	margin-top: 0px;
}
.active .p1-3{
	animation:fadeToTop2 1s;
	animation-fill-mode:forwards;
	animation-delay:0.8s;
}
@keyframes fadeToTop2{
	from{opacity: 0; margin-top: 0px;}
	to{opacity: 1; margin-top: -60px;}
}


.p1-4{
	opacity: 0;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -150px;
}
.active .p1-4{
	animation:fadeToLeft 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToLeft{
	from{opacity: 0; margin-left: -160px;margin-top: -150px;}
	to{opacity: 1; margin-left: -140px;margin-top: -80px;}
}

.p1-5{
	opacity: 0;
	left: 50%;
	margin-left: 160px;
	top: 50%;
	margin-top: 130px;
}
.active .p1-5{
	animation:fadeToRight 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToRight{
	from{ opacity: 0; margin-left: 160px;margin-top:130px; }
	to{	opacity:1 ;margin-left: 10px;margin-top: -80px;}
}

.p2{
	background:url(../images/2.jpg) center center no-repeat #efebde;
	background-size:100% 
}
.p2 img{
}
.p2-1{
	opacity: 0;
	left: 50%;
	margin-left: 100px;
	top: 50%;
	margin-top: -100px;
	width: 240px;
}
.active .p2-1{
	animation:fadeToRight1 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToRight1{
	from{opacity: 0; margin-left: 100px;}
	to{opacity: 1; margin-left:-20px; }
}
.p2-2{
	opacity: 0;
	left: 50%;
	margin-left: -120px;
	top: 50%;
	width: 230px;
	margin-top: -190px;
}
.active .p2-2{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}

.p2-3{
	opacity: 0;
	left: 50%;
	margin-left: -400px;
	top: 50%;
	margin-top: -30px;
	width: 200px;
}
.active .p2-3{
	animation:fadeToLeft1 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToLeft1{
	from{opacity: 0; margin-left: -400px;}
	to{opacity: 1; margin-left:-180px; }
}

.p2-4{
	opacity: 0;
	left: 50%;
	margin-left: -380px;
	top: 50%;
	margin-top: 100px;
	width: 250px;
}
.active .p2-4{
	animation:fadeToLeft2 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToLeft2{
	from{opacity: 0; margin-left: -380px;}
	to{opacity: 1; margin-left:-180px; }
}

.p2-5{
	opacity: 0;
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: 20px;
	width: 200px;
}
.active .p2-5{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}

.p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11{
	background:url(../images/3.jpg) center center no-repeat #efebde;
	background-size:100% 
}


.p3-1, .p4-1, .p5-1, .p6-1, .p7-1, .p8-1, .p9-1, .p10-1, .p11-1 {
	left: 0%;
	bottom: 15%;
	width: 100%;
}
.p3-2, .p4-2, .p5-2, .p6-2, .p7-2, .p8-2, .p9-2, .p10-2, .p11-2{
	left: 0%;
	bottom: 15%;
	opacity: 0;
	width: 100%;
}

.active .p3-2, .active .p4-2, .active .p5-2, .active .p6-2, .active .p7-2, .active .p8-2, .active .p9-2, .active .p10-2, .active .p11-2{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}



.p12{
	background:url(../images/12.jpg) center center no-repeat #efebde;
	background-size:100% 
}
.p12 img{
}
.sectionTurn .p12-1{
	width: 200px;
	left:-10px;
	top: 50%;
	margin-top: -60px; 
	opacity: 0;
}
.active .p12-1{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}
.p12-2{
	width: 175px;
	left:-100px;
	top: 50%;
	margin-top: 55px; 
	opacity: 0;
}
.active .p12-2{
	animation:fadeToLeft3 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToLeft3{
	from{left: -100px;opacity: 0;}
	to{left: 0px;opacity: 1;}
}
.p12-3{
	width: 200px;
	left:50%;
	margin-left: 160px;
	top: 50%;
	margin-top: 10px; 
	opacity: 0;
}
.active .p12-3{
	animation:fadeToRight2 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToRight2{
	from{margin-left: 160px;opacity: 0;}
	to{margin-left: -10px;opacity: 1;}
}
.p12-4{
	width: 170px;
	left:50%;
	margin-left: 160px;
	top: 50%;
	margin-top: -140px; 
	opacity: 0;
}
.active .p12-4{
	animation:fadeToRight3 1s;
	animation-fill-mode:forwards;
}
@keyframes fadeToRight3{
	from{margin-left: 160px;opacity: 0;}
	to{margin-left: 0px;opacity: 1;}
}

.p13{
	background:url(../images/13.jpg) center center no-repeat #efebde;
	background-size:100% 
}
.p13-1{
	width: 100%;
	left:0;
	top: 50%;
	margin-top: -100px; 
	opacity: 0;
}
.active .p13-1{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
}
.p13-2{
	width: 100%;
	left:0;
	top: 50%;
	margin-top: 0px; 
	opacity: 0;
}
.active .p13-2{
	animation:fadeIn 1.5s;
	animation-fill-mode:forwards;
	animation-delay:0.8s;
}


.againBtn{
	position:absolute;
	left: 50%;
	width: 180px;
	margin-left: -90px;
	height: 35px;
	background: #e27f0a;
	font-size: 16px;
	opacity: 0;
	top:50%;
	margin-top: 160px;
	border: none;
	color: #fff;
	font-family: microsoft yahei;
}
.active .againBtn{
	animation:fadeIn 1s;
	animation-fill-mode:forwards;
	animation-delay:1.5s;
}
/*pad样式*/
@media(min-width:450px){
	.p3-1, .p4-1, .p5-1, .p6-1, .p7-1, .p8-1, .p9-1, .p10-1, .p11-1 {
		left: 50%;
		margin-left: -200px;
		bottom: 25%;
		width: 400px;
	}
	.p3-2, .p4-2, .p5-2, .p6-2, .p7-2, .p8-2, .p9-2, .p10-2, .p11-2{
		left: 50%;
		margin-left: -200px;
		bottom: 25%;
		opacity: 0;
		width: 400px;
	}
	.p13-1{
		width: 400px;
		left:50%;
		margin-left: -200px;
		top: 50%;
		margin-top: -120px; 
		opacity: 0;
	}
	.p13-2{
		width: 400px;
		left:50%;
		margin-left: -200px;
		top: 50%;
		margin-top: 0px; 
		opacity: 0;
	}
}

/*动画交互效果*/
@keyframes fadeIn{
	from{ opacity: 0; }
	to{	opacity: 1;	}
}

@keyframes fadeOut{
	from{ opacity: 1; }
	to{	opacity: 0;	}
}


@keyframes toLeft{
	from{ right: ;}
	to{	right: ;}
}

@keyframes toTop{
	from{ top: ;}
	to{	top: ;}
}

@keyframes toBottom{
	from{ top: ;}
	to{	top: ;}
}

